---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
const { agencyName, currentRole, status } = Astro.props;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-center mb-2">
    {agencyName} {status}
    <Pulse status={status} />
  </div>
  <p class="text-xs">Currently {status} as {currentRole}</p>
</Card>
